<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Lista Autos</title>
</head>
<body class="container mt-5">

<div th:replace="~{index :: navbar}"></div>
<h2 class="mt-4">Lista Autos</h2>
<div class="mb-3">
    <a th:href="@{/autos/new}" class="btn btn-primary">Agregar Elemento</a>
</div>

<table class="table table-bordered">
    <thead class="table-light">
    <tr>
        <th>#</th>
        <th>Modelo</th>
        <th>Color</th>
        <th>Kilometraje</th>
        <th>Sede</th>
        <th>Costo por día</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="auto : ${autoList}">
        <td th:text="${auto.idauto}">1</td>
        <td th:text="${auto.modelo}">Toyota</td>
        <td th:text="${auto.color}">negro</td>
        <td th:text="${auto.kilometraje}">1300</td>
        <td th:text="${auto.costo_por_dia}">30.00</td>
        <td>
            <a th:href="@{/auto/edit(id=${auto.idauto})}" class="btn btn-sm btn-primary">Editar</a>
            <a th:href="@{/auto/delete(id=${auto.idauto})}" class="btn btn-sm btn-danger">Borrar</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>